@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    background: url('/images/background.png') no-repeat center center fixed; /* Замощение страницы */
    background-size: cover; /* Масштабирование изображения */
}

.main-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон для читаемости текста */
}

.logo {
    font-size: 4em;
    color: #fff;
    text-align: center;
    animation: flickerAnimation 1.5s infinite;
}

.start-button {
    font-family: 'Press Start 2P', sans-serif;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s;
}

.start-button:hover {
    transform: scale(1.1);
}

@keyframes flickerAnimation {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

.business-screen {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    .logo {
        font-size: 2em;
    }
    .start-button {
        padding: 8px 16px;
        font-size: 1em;
    }
    .title {
        font-size: 18px;
    }
}
